{% comment %}
  Copyright 2022 Richard Dominick
{% endcomment %}
{% capture newline %}
{% endcapture %}
{% assign starts = '|--;|:-' | split: ';' %}
{%- assign nodes = include.html
  | strip
  | split: '<pre><code class="language-'
-%}
{{ nodes.first }}
{%- for node in nodes offset:1 -%}
  {% assign tag = node | split: '">' | first %}
  {%- if tag == 'table' -%}
    {% assign contents = node
      | replace_first: tag, ''
      | replace_first: '">', ''
      | strip
      | split: '</code></pre>'
    %}
    {% capture text %}{% include capturehtml.liquid text=contents.first %}{% endcapture %}
    {% assign lines = text | strip | split: newline %}
    {% assign check_first_row = lines.first | replace: ' ', '' | slice: 0, 3 %}
    {% if starts contains check_first_row %}
      {% assign offset = 1 %}
    {% else %}
      {% assign offset = 2 %}
    {% endif %}
    <table>
      {% unless starts contains check_first_row %}
        <thead>
          <tr>
            {% assign cells = lines.first | strip | split: '|' %}
            {% for cell in cells offset:1 %}
              {% assign cleaned = cell | replace: '\', '' %}
              {% assign col_span = cell.size | minus: cleaned.size | plus: 1 %}
              <th colspan="{{ col_span }}">
                {{ cleaned | strip }}
              </th>
            {% endfor %}
          </tr>
        </thead>
      {% endunless %}
      <tbody>
        {% for row in lines offset:offset %}
          <tr>
            {% assign cells = row | strip | split: '|' %}
            {% for cell in cells offset:1 %}
              {% assign cleaned = cell | replace: '\', '' %}
              {% assign col_span = cell.size | minus: cleaned.size | plus: 1 %}

              {% assign lookbelow_index = forloop.parentloop.index | plus: offset %}
              {% assign next_row_cells = lines[lookbelow_index] | replace: '\', '|' | strip | split: '|' %}
              {% assign lookbelow_col_index = forloop.index0 | plus: col_span %}
              {% assign cell_below = next_row_cells[lookbelow_col_index] %}
              <td colspan="{{ col_span }}">
                {{ cleaned | strip }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {%- for tail in contents offset:1 -%}
      {{ tail }}</code></pre>
    {%- endfor -%}
  {%-else -%}
    <pre><code class="language-{{ node }}
  {%- endif -%}
{%- endfor -%}
